<h1>Dragon ball Z</h1>
<hr />

<div class="row">
  <div class="col">
    <h3>Personajes</h3>
    <hr />
    <ul *ngFor="let personaje of personajes">
      <li>{{ personaje.nombre }}: {{personaje.poder | number}}</li>
    </ul>
  </div>

  <div class="col">
    <h3>Agregar <small>{{nuevo.nombre}}</small></h3>
    <hr />

    <form (ngSubmit)="agregar($event)">
      <input
        type="text"
        placeholder="Nombre"
        name="nombre"
        [(ngModel)]="nuevo.nombre" />
      <!-- [value]="nuevo.nombre"
        (input)="cambiarNombre($event)"  -->
      <input
        type="text"
        placeholder="Poder"
        name="poder"
        [(ngModel)]="nuevo.poder" />
      <!-- [value]="nuevo.poder"  -->
      <button>Agregar</button>
    </form>
  </div>
</div>
